@model Entities.Dtos.Countries.CountryDto

@{
    ViewBag.Title = "Update";
}

<div class="row">
    <div class="col-md-4">
        <form id="updateCountry" action="/country/update/" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input onclick="updateCountry()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts{
    <script>
        function updateCountry() {
            var form = $("#updateCountry");
            app.confirmModal("Kayıt Güncelleme", "Bu kaydı güncellemeyi onaylıyor musunuz?", function () {
                app.callJx(form.attr("action"), "body", form.serialize());
            });
        }
    </script>
}
@* app.confirmModal("Kayıt Silme", "Bu kaydı silmeyi onaylıyor musunuz?", function () {
                    app.callJx(`${deleteUrl}`, "body", { id: id }, function () {
                        fetchDataAndProcessTable();
                    });
                });*@