@using Entities.Dtos.OperationClaims
@model OperationClaimDto

@{
    ViewBag.Title = "Create";
}

@if (!ViewContext.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @(Html.Raw(ViewData.ModelState.GetErrorMessage()))
    </div>
}
<div class="row">

    <div class="col-md-4">
        <form action="/operationclaim/create" id="createClaim" method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input onclick="createClaim()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts{
    <script>
        function createClaim() {
            var form = $("#createClaim");
            app.callJx(form.attr("action"), "body", form.serialize());
        }
    </script>
}
