@model Entities.Dtos.OperationClaims.OperationClaimDto

@{
    ViewBag.Title = "Update";
}

<div class="row">
    <div class="col-md-4">
        <form action="/operataionclaim/update" id="updateClaim" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input onclick="updateClaim()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script>
        function updateClaim() {
            var form = $("#updateClaim");
            app.callJx(form.attr("action"), "body", form.serialize(), function () {
                app.gotoUrl("/operataionclaim/index");
            });
        }
    </script>
}
