@using Entities.Dtos.Cities
@model CityDto

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form action="/city/create" id="createCity" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                @Html.DropDownList("CountryId", ViewBag.Countries, "Seçiniz...", new { @class = "form-control" })
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input value="Create" onclick="saveCity()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts{
    <script type="text/javascript">

        function saveCity() {
            debugger;
            var form = $("#createCity");
            app.callJx(form.attr("action"), "body", form.serialize());
        }

    </script>

}