.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    padding: 5px 10px;
    margin: 0 3px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .pagination-button.active {
        background-color: #ccc;
    }

.total-records {
    text-align: right;
    margin-right: 5px;
}

.select-container {
    display: flex;
    align-items: center;
}

.select-label {
    margin-right: 5px;
}

/*.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}*/

/*.modal-content {
    max-width: 600px;
    width: 100%;
}*/

.modal-dialog .modal-body {
    font-size: 17px;
    color: #666;
}

.modal-dialog .modal-footer {
    background-color: #f9f9f9;
    padding: 10px;
}
.error {
    background-color: #c21f1f;
    color: #110101;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}
.modal-header {
    background-color: #e79f3c;
    color: #110101;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}
 
    .modal-header .modal-title {
        font-size: 20px;
        font-weight: bold;
    }

.checkbox-label {
    margin-right: 10px; 
}

/*.filters-container {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;*/
    /*    background-color: #f2f2f2;
*/
/*}

.filter {
    margin-bottom: 10px;
}

    .filter label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .filter input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px;
    }

#searchButton {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 26px;
}*/