@using Entities.Dtos.Categories
@model CategoryDto

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form action="/category/create" id="createCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input value="Create" onclick="saveCategory()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts{
    <script type="text/javascript">

        function saveCategory() {
            debugger;
            var form = $("#createCategory");
            app.callJx(form.attr("action"), "body", form.serialize());
        }

    </script>

}