@model Entities.Dtos.Categories.CategoryDto

@{
    ViewBag.Title = "Update";
}
@if (!ViewContext.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @(Html.Raw(ViewData.ModelState.GetErrorMessage()))
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form id="updateCategory" action="/category/update/" method="post">
@*            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
*@            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input onclick="updateCategory()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script type="text/javascript">

        function updateCategory() {
            debugger;
            var form = $("#updateCategory");
            app.callJx(form.attr("action"), "body", form.serialize());
        }

    </script>

}